/* CONTENT CSS */
* {
    padding: 0;
    margin: 0;
    /* background-color: #2E4057;
    color: #F18F01; */
    font-family: BerunFont2;
    color: #F18F01;
}

@font-face {
    font-family: 'BerunFont1';
    src: url('src\assets\Fonts\MARDE SAUVE.otf');
}

@font-face {
    font-family: 'BerunFont2';
    src: url('src\assets\Fonts\railway.regular.otf');
}

@font-face {
    font-family: 'BerunFont3';
    src: url('src\assets\Fonts\Raleway-Bold.ttf');
}

.main-container {
    position: relative;
    top: 75px;
    min-height: 100%;
    /* border: 2px solid red; */
    background: url('src\assets\Pictures\background-slika.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
    width: 95%;
    height: 60em;
    /* border: 2px solid blue; */
    margin: auto;
    background-color: #2e4057de;
    border-left: #F18F01 1.5px solid;
    border-right: #F18F01 1.5px solid;
    position: relative;
}

.movie-container {
    width: 100%;
    height: 15%;
    /* border: 2px solid lime; */
    display: flex;
    padding: 0.5em 0 0.5em 0;
}

.movie-container:hover {
    background-color: #2e4057d2;
}

.movie-picture {
    width: 20%;
    height: 100%;
    /* border: 2px solid red; */
}

.picture {
    height: 100%;
    width: 100%;
}

.movie-name {
    width: 45%;
    height: 100%;
    /* border: 2px solid khaki; */
}

.movie-font {
    height: 20%;
    width: 100%;
    /* border: 2px solid red; */
    margin: auto;
    position: relative;
}

.movie-font h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie-description {
    height: 80%;
    width: 100%;
    /* border: 2px solid blue; */
    position: relative;
}

.movie-description h6 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.imdb {
    height: 100%;
    width: 15%;
    /* border: 2px solid teal; */
    position: relative;
}

.imdb-picture {
    width: fit-content;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imdb-photo {
    position: relative;
    width: 100%;
    /* border: 2px solid red; */
    height: 50%;
}

.imdb-score {
    position: relative;
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}

.imdb-score h4,
h6 {
    width: 100%;
    height: 50%;
    text-align: center;
}

.Language {
    height: 100%;
    width: 20%;
    /* border: 2px solid fuchsia; */
}

.language-title {
    width: 100%;
    height: 50%;
    /* border: 2px solid gold; */
    position: relative;
}

.language-title h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.language-photo {
    width: 100%;
    height: 50%;
    position: relative;
}

.language-picture {
    height: 80%;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}