<div class="main-container">
    <div class="input-group mb-3">
        <input type="text" id="friendAdd" class="form-control" aria-label="Default"
            placeholder="Enter the username you wish to add" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
            <span type="submit" class="input-group-text span1" id="inputGroupAdd">Add a friend</span>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" id="friendRemove" placeholder="Enter the username you wish to delete" class="form-control"
            aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
            <span type="submit" class="input-group-text span2" id="inputGroupDelete">Delete friend</span>
        </div>
    </div>
</div>