<app-header-component></app-header-component>
<div class="main-container">
    <div class="content-div">
        <div class="wrapper-page">
            <div class="main-movie-info">
                <div class="movie-picture">
                    <img src="assets\Pictures\blood-diamond-v2.jpg">
                </div>
                <div class="optional-movie-info">
                    <div class="movie-title">
                        <h3>Blood Diamond</h3>
                    </div>
                    <div class="other">
                        <div class="movie-length-genre">
                            <div class="length-genre">
                                <div class="responsive">
                                    <h5>Length:2h 13min</h5>
                                </div>
                                <div class="responsive">
                                    <h5>Genre: Crime, Drama, Fantasy</h5>
                                </div>
                            </div>
                            <div class="length-genre">
                                <h5>Actors: Leonardo DiCaprio, Djimon Hounsou, Jennifer Connelly</h5>
                            </div>
                        </div>
                        <div class="movie-length-genre">
                            <div class="length-genre">
                                <div class="imdb-picture">
                                    <img src="assets\Pictures\imdb.png">
                                </div>
                            </div>

                            <div class="length-genre">
                                <h5>IMDb score: 8.7</h5>
                            </div>
                        </div>
                        <div class="movie-length-genre-final">
                            <div class="length-genre-final">
                                <h4>Synopsis:</h4>
                            </div>
                            <div class="length-genre-final">
                                <h5>
                                    A fisherman, a smuggler, and a syndicate of businessmen match wits over the
                                    possession of a priceless diamond.
                                </h5>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subtitle-info-comments">
                <div class="menu-container" clickOutside (clickOutside)="clikedOutside()">
                    <div class="menu-toggler" (click)="toggleMenu()">
                        <h4>Filter subtitle search</h4>
                    </div>
                    <div class="menu" *ngIf="isMenuOpened">
                        <div class="additional-menu">

                            <div class="menu-item">
                                <form class="subtitle-form">
                                    <mat-form-field class="subtitle-mat-form" appearance="outline" [style.width.px]=350>
                                        <mat-label>
                                            IMDb ID
                                        </mat-label>
                                        <input type="text" matInput>
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option>

                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="menu-item">
                                <form class="subtitle-form">
                                    <mat-form-field class="subtitle-mat-form" appearance="outline" [style.width.px]=350>
                                        <mat-label>
                                            Choose subtitle langauge
                                        </mat-label>
                                        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let subtitle of filteredOptions | async"
                                                [value]="subtitle">
                                                {{subtitle}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <div class="additional-menu">
                            <div class="menu-item">
                                <form class="subtitle-form">
                                    <mat-form-field class="subtitle-mat-form" appearance="outline" [style.width.px]=350>
                                        <mat-label>
                                            Season number
                                        </mat-label>
                                        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let subtitle of filteredOptions | async"
                                                [value]="subtitle">
                                                {{subtitle}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="menu-item">
                                <form class="subtitle-form">
                                    <mat-form-field class="subtitle-mat-form" appearance="outline" [style.width.px]=350>
                                        <mat-label>
                                            Episoder number
                                        </mat-label>
                                        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let subtitle of filteredOptions | async"
                                                [value]="subtitle">
                                                {{subtitle}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <div class="button-search">
                            <button class="button" mat-flat-button>Search</button>
                        </div>
                    </div>
                    <div class="subtitle-container">
                        <div class="flex-div">
                            <div class="subtitle-id">
                                <h4>(Godina izlaska filma) Ime Filma (imdbID)</h4>
                            </div>
                            <div class="sezona-epizoda-div">
                                <h4>Sezona(br) Epizoda(br)</h4>
                            </div>
                            <div class="language-titla">
                                <h4>English</h4>
                            </div>
                        </div>
                        <div class="responsive-div">
                            <div class="movie-version">
                                <h5>1080 Bluray YIFY</h5>
                            </div>
                            <div class="download-div">
                                <button class="button-download" mat-flat-button>Download title</button>
                            </div>
                        </div>
                    </div>
                    <div class="subtitle-container">
                        <div class="flex-div">
                            <div class="subtitle-id">
                                <h4>(Godina izlaska filma) Ime Filma (imdbID)</h4>
                            </div>
                            <div class="sezona-epizoda-div">
                                <h4>Sezona(br) Epizoda(br)</h4>
                            </div>
                            <div class="language-titla">
                                <h4>Norwegian</h4>
                            </div>
                        </div>
                        <div class="responsive-div">
                            <div class="movie-version">
                                <h5>1080 Bluray YIFY</h5>
                            </div>
                            <div class="download-div">
                                <button class="button-download" mat-flat-button>Download title</button>
                            </div>
                        </div>
                    </div>
                    <div class="subtitle-container">
                        <div class="flex-div">
                            <div class="subtitle-id">
                                <h4>(Godina izlaska filma) Ime Filma (imdbID)</h4>
                            </div>
                            <div class="sezona-epizoda-div">
                                <h4>Sezona(br) Epizoda(br)</h4>
                            </div>
                            <div class="language-titla">
                                <h4>Bosnian</h4>
                            </div>
                        </div>
                        <div class="responsive-div">
                            <div class="movie-version">
                                <h5>1080 Bluray YIFY</h5>
                            </div>
                            <div class="download-div">
                                <button class="button-download" mat-flat-button>Download title</button>
                            </div>
                        </div>
                    </div>
                    <div class="subtitle-container">
                        <div class="flex-div">
                            <div class="subtitle-id">
                                <h4>(Godina izlaska filma) Ime Filma (imdbID)</h4>
                            </div>
                            <div class="sezona-epizoda-div">
                                <h4>Sezona(br) Epizoda(br)</h4>
                            </div>
                            <div class="language-titla">
                                <h4>French</h4>
                            </div>
                        </div>
                        <div class="responsive-div">
                            <div class="movie-version">
                                <h5>1080 Bluray YIFY</h5>
                            </div>
                            <div class="download-div">
                                <button class="button-download" mat-flat-button>Download title</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-component></app-footer-component>