<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMovieDownload">
    Download a title
</button>
<!--SubtitleUI Modal -->
<div class="modal fade" id="modalMovieDownload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalMovieDownloadLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="naslov">
                    <div class="h5">
                        <h5 class="modal-title fs-5" id="modalMovieDownloadLabel">Downloading subtitle for</h5>
                    </div>
                    <div class="h3" *ngIf="!isTVSeries">
                        <h3>MovieName</h3>
                    </div>
                    <div class="h3" *ngIf="isTVSeries">
                        <h3>TVSeriesName</h3>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Select language of the subtitle:</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                            id="opcijeSimulacije">
                            <option value="1">Language1</option>
                            <option value="2">Language2</option>
                            <option value="3">Language3</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Select the subtitle uploader:</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="1">User1</option>
                            <option value="2">User2</option>
                            <option value="3">User3</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group row" *ngIf="isTVSeries">
                        <label class="col-sm-2 col-form-label">Season number:</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <hr *ngIf="isTVSeries">
                    <div class="form-group row" *ngIf="isTVSeries">
                        <label class="col-sm-2 col-form-label">Episode number:</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <hr *ngIf="isTVSeries">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subtitle rating:</label>
                        <div class="divRatingStars">
                            <ngx-star-rating [id]="'rating'" class="ratingStars"></ngx-star-rating>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    *ngIf="isAdmin">Delete the subtitle</button>
                <button id="btn-download" type="button" class="btn btn-primary" data-bs-dismiss="modal">Download the
                    subtitle</button>
            </div>
        </div>
    </div>
</div>