<app-header-component></app-header-component>
<div class="main-container">
    <div class="wrapper-container">
        <div class="movieInfo">
            <div class="moviePicture">

            </div>
            <div class="movieName">

            </div>
        </div>
        <div class="comment-container">
            <div class="insert-comment-container">
                <div class="insert-comment-wrapper">
                    <div class="userPicture">
                        <img src="assets/Pictures/userIcon.png" id="picture">
                    </div>
                    <div class="commentInput">
                        <textarea class="form-control" id="textArea" rows="4" style="background: #fff;"
                            placeholder="Insert a comment"></textarea>
                        <button type="button" class="btn btn-primary">Post a comment</button>
                    </div>
                </div>
            </div>
            <div class="availableComments">
                <div class="availablePictureDiv">
                    <img src="assets/Pictures/userIcon.png" id="picture">
                </div>
                <div class="writtenComment">
                    <textarea class="form-control" id="textAreaV2" rows="4" style="background: #fff;"
                        disabled="disabled"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-footer-component></app-footer-component> -->
</div>