<app-header-component></app-header-component>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div *ngIf="this.shouldLoad" class="main-container">
    <div class="wrapper-container">
        <div class="movieInfo">
            <div class="moviePictureDiv">
                <div class="moviePicture">
                    <img src="{{asObjectMovie.coverArt}}" class="moviePicture">
                </div>
            </div>
            <div class="movieName">
                <div class="movieSeriesName">
                    <h1>{{asObjectMovie.title}} ({{asObjectMovie.year}})</h1>
                </div>
                <div class="selectedTitleName">
                    <h3>{{this.subtitle.release}}</h3>
                </div>
            </div>
        </div>
        <div class="comment-container">
            <div class="col-8" id="myPagination">
                <div class="page-shifter">
                    <button [disabled]="this.pageIndex <= 1" (click)="changePage(this.pageIndex - 1)">Previous</button>
                    <span>Page {{ this.pageIndex }} of {{ this.totalPageCount }}</span>
                    <button [disabled]="this.pageIndex == this.totalPageCount" (click)="changePage(this.pageIndex + 1)">Next</button>
                  </div>
            </div>
            <div class="insert-comment-container">
                <div class="insert-comment-wrapper">
                    <div class="userPictureDiv">
                        <div class="userPicture">
                            <img src="assets/Pictures/userIcon.png" id="picture">
                        </div>
                    </div>
                    <div class="commentInputDiv">
                        <div class="commentInput">
                            <textarea #commentInput class="form-control" id="textArea" rows="4" style="background: #fff;"
                                placeholder="Insert a comment"></textarea>
                            <button (click)="postComment()" type="button" class="btn btn-primary">{{"PostCommentButton" | translate}}</button>
                            <div [hidden]="this.commentValid" class="error-text">
                                {{ (this.loggedUser != null? "PostCommentNoContent" : "PostCommentLogin") | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="availableComments" *ngFor="let comment of this.comments">
                <div class="availablePictureDiv">
                    <div class="availablePicture">
                        <img [src]="comment.image" id="picture">
                    </div>
                    <div class="labelUser">
                        <label>{{ comment.username }}</label>
                    </div>
                </div>
                <div class="writtenCommentDiv">
                    <div class="writtenComment">
                        <textarea class="form-control" id="textAreaV2" rows="4" style="background: #fff;"
                            disabled="disabled">{{ comment.content }}</textarea>
                    </div>
                    <div class="row">
                    <button id="deleteButton" type="button" class="btn-close btn-close-white" aria-label="Close"
                        *ngIf="isAdmin">
                    </button>
                </div>
                <div class="row">
                    <button id="reportButton" type="button" class="glyphicon glyphicon-flag" (click)="reportComment(comment.id??0, comment.content)">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>