<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header-component></app-header-component>
<section class="signup py-5 bg-light" id="background">
    <div class="main-container">
        <div class="row" id="main-row">
            <div class="col-8">
                <div class="container">
                    <div id="foreground">
                        <div class="row" id="movie-container">
                            <div class="col-sm">
                                <img src="{{movieObject.coverArt}}" class="movie">
                            </div>
                            <div class="col-sm">
                                <h3>{{movieObject.title}}</h3>
                                <div>
                                    <h4>{{'Synopsis' | translate}}</h4>
                                    <p>{{movieObject.synopsis}}
                                    <p>
                                </div>
                                <hr>
                                <div>
                                    <h5>{{'ReleaseYear' | translate}}</h5>
                                    <p>{{movieObject.year}}</p>
                                    <hr>
                                </div>
                                <div>
                                    <h5>{{'Runtime' | translate}}</h5>
                                    <p>{{movieObject.runtime}} {{'Minutes' | translate}}</p>
                                    <hr>
                                </div>
                                <div>
                                    <h5>{{'Actors' | translate}}</h5>
                                    <div *ngFor="let actor of actors" style="display:inline-block;">
                                        {{ actor.firstName }}
                                        {{actor.lastName}}
                                    </div>
                                    <hr>
                                </div>
                                <div>
                                    <h5>{{'Creators' | translate}}</h5>
                                    <div *ngFor="let creator of creators" style="display:inline-block;">
                                        {{ creator.firstName }}
                                        {{creator.lastName}}
                                        <div id="position">
                                            {{creator.position}}
                                        </div>
                                    </div>
                                    </div>
                                    <hr>
                            </div>
                            <div class="col-sm" id="ratings">
                                <h5 class="center">{{'IMDBRating' | translate}}</h5>
                                <div style="display:inline-block;">
                                    <img src="..\assets\Pictures\imdb.png" id="imdb">
                                    {{movieObject.imdbRatingValue}} / 10
                                </div>
                                <h5 class="center">{{'RottenTomatoes' | translate}}</h5>
                                <div style="display:inline-block;" id="imdb">
                                    <img src="..\assets\Pictures\rottenTomatoes.png" id="rottentomatoes">
                                    <p>{{movieObject.rottenTomatoesValue}} / 100%
                                </div>
                                <h5 class="center">{{'Metacritic' | translate}}</h5>
                                <div style="display:inline-block;" id="imdb">
                                    <img src="..\assets\Pictures\metacritic.png" id="rottentomatoes">
                                    {{movieObject.rottenTomatoesValue}} / 100
                                </div>
                                <div>
                                    <button class="search-button" mat-flat-button data-bs-toggle="modal"
                                        data-bs-target="#modalMovieDownload">{{'DownloadButton' | translate}}</button>
                                    <button class="search-button" mat-flat-button
                                        (click)="this.isTVSeries ? favoriteTVShow() : favoriteMovie()"
                                        [hidden]="!this.displayFavorite">
                                        <div [hidden]="this.favorited" class="not-favorited">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill=""
                                                class="bi bi-star" viewBox="0 0 16 16">
                                                <path
                                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                            </svg>
                                        </div>
                                        <div [hidden]="!this.favorited" id="favorited">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill=""
                                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </div>
                                    </button>
                                    <button class="search-button" mat-flat-button (click)="back()">BACK</button>
                                    <button class="search-button" mat-flat-button data-bs-toggle="modal"
                                    data-bs-target="#modalMovieDownload2">{{'Upload Button' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="container">
                    <div class="row g-0" id="foreground2">

                        <h2>{{'TryShootingLocations' | translate}}</h2>
                        <div class="full" id="map"></div>


                        <div id="movie-container">
                            {{'GoodLuck' | translate}}


                            <div class="container">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FARIS SKOPAK KOD -->
    <!--SubtitleUI Overhaul -->
    <div class="modal fade" id="modalMovieDownload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalMovieDownloadLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="naslov">
                        <div class="h5">
                            <h5 class="modal-title fs-5" id="modalMovieDownloadLabel">{{'SubtitleFilterOptions' |
                                translate}}</h5>
                        </div>
                        <div class="h3">
                            <h3>{{movieObject.title}}</h3>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{'SelectSubtitleLanguage' | translate}}:</label>
                            <select #languageSelected class="form-select form-select-sm"
                                aria-label=".form-select-sm example" (change)="setLanguage(languageSelected.value)"                            
                                 (change)="getUploaders()">
                                <option>
                                    Please select an option
                                </option>
                                <option *ngFor="let language of this.languages" [value]="language.languageCode">
                                    {{this.language.englishName}}
                                </option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="serija form-group row" *ngIf="isTVSeries">
                                <label class="col-sm-2 col-form-label">{{'SeasonNumber' | translate}}:</label>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <hr class="serija" *ngIf="isTVSeries">
                        <div class="form-group row">
                            <div class="serija form-group row" *ngIf="isTVSeries">
                                <label class="col-sm-2 col-form-label">{{'EpisodeNumber' | translate}}:</label>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <hr class="serija" *ngIf="isTVSeries">
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-search" type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modalSearch" (click)="getUploaders()">{{'SearchButton' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMovieDownload2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalMovieDownloadLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="message">
            <div class="modal-header">
                <div class="naslov">
                    <div class="h5">
                        <h5 class="modal-title fs-5" id="modalMovieDownloadLabel">{{'SubtitleFilterOptions' |
                            translate}}</h5>
                    </div>
                    <div class="h3">
                        <h3>{{movieObject.title}}</h3>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{'SelectSubtitleLanguage' | translate}}:</label>
                        <select #languageSelected2 class="form-select form-select-sm"
                            aria-label=".form-select-sm example" (change)="setLanguage2(languageSelected2.value)">
                            <option>
                                Please select an option
                            </option>
                            <option *ngFor="let language of this.languages" [value]="language.languageCode">
                                {{this.language.englishName}}
                            </option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{'Please enter the release you are uploading the subtitle for' | translate}}:</label>
                    <input class="form-control form-control-sm" id="release" type="text" placeholder="example: Blue-Ray">
                </div>
                <hr>
                <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{'Please enter the framerate of the relese for the subtitle' | translate}}:</label>
                <input class="form-control form-control-sm" id="fps" type="text" placeholder="example: 25">
            </div>
                    <hr>
                    <div class="form-group row">
                        <div class="serija form-group row" *ngIf="isTVSeries">
                            <label class="col-sm-2 col-form-label">{{'SeasonNumber' | translate}}:</label>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <hr class="serija" *ngIf="isTVSeries">
                    <div class="form-group row">
                        <div class="serija form-group row" *ngIf="isTVSeries">
                            <label class="col-sm-2 col-form-label">{{'EpisodeNumber' | translate}}:</label>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <hr class="serija" *ngIf="isTVSeries">
                    <div class="modal-footer">
                        <button id="btn-search" type="button" class="btn btn-primary" (click)="inputFile.click()">{{'Select subtitle' | translate}}</button>
                        <input name="file" id="file" type="file" #inputFile hidden (change)="validateFileUpload($event)">
                    </div>
                    <hr>
                    <div *ngIf="this.validSubtitle" style="display: inline;">
                        <label class="col-sm-2 col-form-label">{{'Selected subtitle name: ' | translate}} {{this.fileName}}</label>
                        <label class="col-sm-2 col-form-label">{{'Selected subtitle size: ' | translate}} {{this.fileSize}} KB</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-search" type="button" class="btn btn-primary" (click)="UploadSubtitle()">{{'Upload Subtitle' | translate}}</button>
            </div>
            <div *ngIf="this.uploadButtonPressed">
            <div class="modal-footer" *ngIf="!this.validSubtitle" id="message">
                <hr>
                <label id="message" class="col-sm-2 col-form-label" id="failed">{{'The upload failed' | translate}}</label>
            </div>
            <div class="modal-footer" *ngIf="this.validSubtitle">
                <hr>
                <label id="message" class="col-sm-2 col-form-label" id="successful">{{'The upload was successful' | translate}}</label>
            </div>
            </div>
        </div>
    </div>
</div>

    <!-- SearchingSubtitle Modal -->

    <!--SubtitleUI Modal -->
    <div class="modal fade" id="modalSearch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalSearchLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="naslov">
                        <div class="h5">
                            <h5 class="modal-title fs-5" id="modalMovieDownloadLabel">{{'SubtitleList' | translate}}
                            </h5>
                        </div>
                        <div class="h3" *ngIf="!isTVSeries">
                            <h3>{{movieObject.title}}</h3>
                        </div>
                        <div class="h3" *ngIf="isTVSeries">
                            <h3>TVSeriesName</h3>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{'SelectSubtitleUploader' | translate}}:</label>
                    <select #userSelected class="form-select form-select-sm" aria-label=".form-select-sm example"
                        (change)="loadFileId(userSelected.value)">
                        <option selected *ngFor="let uploader of this.subtitleDownload" [value]="uploader.fileId">
                            By: {{this.uploader.uploader}} | FPS:{{this.uploader.fps}} | Release:
                            {{this.uploader.release}}
                        </option>
                    </select>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row formaDiv">

                            <div class="titleDiv">
                                <div class="labelDiv">
                                    <label class="col-sm-2 col-form-label">{{'Release' | translate}}</label>
                                </div>
                                <div class="userDiv">
                                    <label class="col-sm-2 col-form-label">{{'Uploader' | translate}}</label>
                                </div>
                                <div class="divAboutSelect">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                            (click)="boxChecked()">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"
                                            (click)="boxChecked()">{{'SelectCheckbox' | translate}}</label>
                                    </div>
                                </div>
                                <div class="divTranslateLanguage">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                            (click)="translateCheck()">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"
                                            (click)="translateCheck()">{{'TranslateCheckbox' | translate}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div *ngIf="clicked" class="ratingButton form-group row">
                                    <label class="col-sm-2 col-form-label" id="ratinglabel">{{'SubtitleRating' |
                                        translate}}:</label>
                                    <div class="divRatingStars">
                                        <ngx-star-rating [id]="'rating'" class="ratingStars"></ngx-star-rating>
                                    </div>
                                    <div class="example-button-row" id="commentButton">
                                        <button mat-button [routerLink]="['/comments']" data-bs-toggle="modal">GOTO
                                            Comments</button>
                                    </div>
                                </div>

                            </div>
                            <div class="serija form-group row" *ngIf="translateClicked">
                                <label class="col-sm-2 col-form-label">{{'SelectSubtitleLanguageTranslation' |
                                    translate}}</label>
                                <select class="form-select form-select-sm" id="languageSelection"
                                    aria-label=".form-select-sm example">
                                    <option *ngFor="let language of this.languages" [value]=language.languageCode>
                                        {{this.language.englishName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete" type="button" class="btn btn-primary"
                        *ngIf="clicked && isAdmin">{{'DeleteButton' | translate}}</button>
                    <button (click)="downloadSubtitle()" id="btn-download" type="button" class="btn btn-primary"
                        *ngIf="clicked || translateClicked">{{'DownloadButton' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-component></app-footer-component>