<app-header-component></app-header-component>
<section class="signup py-5 bg-light" id="background">
    <div class="main-container">
        <div class="row" id="main-row">
            <div class="row">
                <div class="col-3">
                    <button class="btn" id="download-button" mat-flat-button (click)="setMovies()">{{'Movies' |
                        translate}}</button>
                    <button class="btn" id="download-button" mat-flat-button (click)="setTVShow()">{{'TV Series' |
                        translate}}</button>
                </div>
                <div class="col-8" id="myPagination">
                    <div *ngIf="!this.isTVShow" class="page-shifter">
                        <button [disabled]="_page == 1" (click)="previousPage()">Previous</button>
                        <span>Page {{ _page }} of {{ totalPages }}</span>
                        <button [disabled]="_page == totalPages" (click)="nextPage()">Next</button>
                    </div>
                    <div *ngIf="this.isTVShow" class="page-shifter">
                        <button [disabled]="_pageTV == 1" (click)="previousPageTV()">Previous</button>
                        <span>Page {{ _pageTV }} of {{ totalPagesTV }}</span>
                        <button [disabled]="_pageTV == totalPages" (click)="nextPageTV()">Next</button>
                    </div>
                </div>
            </div>
            <!-- ODAVDJE BOOTSTRAP PROBLEM -->
            <div class="col-8">
                <div class="container">
                    <div *ngIf="!this.isTVShow" class="row g-0" id="foreground2">
                        <div class="col-4"(click)="loadMovie(m)"
                            *ngFor="let m of Movies.data | paginate: {itemsPerPage: 6, currentPage: temp}">
                            <div class="row" id="movieRow">
                                <img src="{{m.coverArt}}" class="movie">
                                <p>{{m.title}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.isTVShow" class="row g-0" id="foreground2">
                        <div class="col-4" (click)="loadMovie(m)"
                            *ngFor="let m of TVShows.data | paginate: {itemsPerPage: 6, currentPage: temp}">
                            <div class="row" id="movieRow">
                                <img src="{{m.coverArt}}" class="movie">
                                <p>{{m.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DOVDJE PROBLEM -->
            <div class="col-4" overflow-y:scroll>
                <div class="container">
                    <div class="row g-0" id="foreground">
                        <div col-md-6 left-box>
                            <h3>{{selected.title}}</h3>
                        </div>
                        <div class="col-sm" id="movie-container">
                            <img src="{{selected.coverArt}}" class="selected-movie">
                        </div>
                        <div col-md-6 left-box>
                            <p>{{'Synopsis' | translate}}:{{selected.synopsis}}</p>
                            <p>{{'ReleaseYear' | translate}}:{{selected.year}}</p>
                            <p>{{'Runtime' | translate}}:{{selected.runtime}}</p>
                            <p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div col>
                                    <button class="btn" id="download-button" mat-flat-button
                                        (click)="saveMovie()">{{'MoreInfoButton' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<app-footer-component></app-footer-component>