<main>
    <section class="search">
        <input type="text" placeholder="Search by username" [(ngModel)]="stringValue">
        <button (click)="searchUserByEmailOrUsername(stringValue,stringValue)">Search</button>
    </section>
    <table>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th></th>
        </tr>
        <tr class="user" *ngFor="let users of searchedUsers?.users; let i = index">
            <td *ngIf="!this.isOneUser">{{users?.username}}</td>
            <td *ngIf="!this.isOneUser">{{users?.email}}</td>
            <td *ngIf="!this.isOneUser" (click)="gotoUsersProfile(i)">View Profile</td>
        </tr>
        <tr class="user" *ngIf="this.searchedUser is undefined">
            <td *ngIf="this.isOneUser">{{this.searchedUser?.username}}</td>
            <td *ngIf="this.isOneUser">{{this.searchedUser?.email}}</td>
            <td *ngIf="this.isOneUser" (click)="gotoUserProfile(this.searchedUser!.id)">View Profile</td>
        </tr>
    </table>
    <ol *ngIf="!this.isOneUser">
        <p>Page: </p>
        <li *ngFor="let pagination of paginationNumbers; let i = index" (click)="searchingUsers(i+1)">{{pagination}}
        </li>
    </ol>
    <ol *ngIf="this.isOneUser">
        <button (click)="searchingUsers(1)">Show all users</button>
    </ol>
</main>