* {
    margin: 0;
    padding: 0;
    font-family: BerunFont2;
}

@font-face {
    font-family: 'BerunFont1';
    src: url('src\assets\Fonts\MARDE SAUVE.otf');
}

@font-face {
    font-family: 'BerunFont2';
    src: url('src\assets\Fonts\railway.regular.otf');
}

@font-face {
    font-family: 'BerunFont3';
    src: url('src\assets\Fonts\Raleway-Bold.ttf');
}

.main-container {
    width: 100%;
    height: 76px;
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid #F18F01;
}

.header {
    width: 100%;
    height: 75px;
    display: flex;
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2E4057;
    color: #F18F01;
}

.header-image {
    width: fit-content;
    box-sizing: content-box;
    margin: auto 0;
}

.img-thumbnail {
    height: 64px;
    background-color: #2E4057;
}

.main-title {
    box-sizing: content-box;
    margin: auto 0;
    margin-left: 1%;
}

.main-title h3 {
    font-family: BerunFont1;
}

.page-elements {
    width: fit-content;
    box-sizing: content-box;
    margin: auto 0;
    margin-left: 1%;
}

.page-elements ul {
    display: flex;
}

.page-elements li {
    list-style: none;
    padding-right: 2em;
}

.page-elements li a {
    color: #F18F01;
    text-decoration: none;
}

.header-button {
    box-sizing: content-box;
    margin: auto 0;
    margin-left: auto;
}

.header-button button {
    background-color: #F18F01;
    margin-right: 10px;
}

.subtitle-search {
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
}

.subtitle-search button {
    margin: auto 0;
    margin-left: 0.2em;
    background-color: #F18F01;
}

.subtitle-form {
    margin: 0 auto;
}

.search-icon {
    margin: auto 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
mat-label {
    color: #F18F01;
}

#site-language {
    width: 10%;
    height: 70%;
    padding-top: 1.3%;
    padding-left: 5%;
    margin-left: ;
}

#site-language-select   {
    width: 100%;
    height: 100%;
}