<div class="main-container">
    <div class="header">
        <div class="header-image">
            <img class="img-thumbnail" src="assets\Pictures\logo.png">
        </div>
        <div class="main-title">
            <h3>CAPTIONEER</h3>
        </div>
        <div class="page-elements">
            <ul>
                <li><a routerLink="../home">Home</a></li>
                <li><a routerLink="searchsubtitles">Movie subtitles</a></li>
                <li><a routerLink="">Upload a subtitle</a></li>
                <li><a routerLink="">Profile Page</a></li>
            </ul>
        </div>
        <div class="subtitle-search">
            <form class="subtitle-form">
                <mat-form-field class="subtitle-mat-form" appearance="outline" [style.width.px]=327>
                    <mat-label>
                        Search a subtitle
                    </mat-label>
                    <input matInput>
                </mat-form-field>
            </form>
            <button mat-flat-button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
        </div>
        <div class="header-button">
            <button class="search-button" mat-flat-button routerLink="../signin">SIGN IN</button>
            <button class="search-button" mat-flat-button routerLink="../signup">SIGN UP</button>
        </div>
    </div>
</div>