* {
    background-color: #235c5f;
    display: inline-block;
    font-family: BerunFont2;
}

.header {
    padding-top: 15px;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 1;
}

#slika-header {
    height: 45px;
    margin-left: 15px;
}

.dugme-header-signIn {
    background-color: #C3E1B5;
    float: right;
    margin-right: 15px;
    margin-top: 0px;
}

.dugme-header-signUp {
    background-color: #C3E1B5;
    float: right;
    margin-right: 20px;
    margin-top: 0px;
}

h3 {
    font-family: BerunFont1;
    font-size: medium;
    margin-left: 10px;
    color: #C3E1B5;
}
mat-card {
    max-width: 600px;
    margin: 10em auto;
    text-align: center;
    max-height: 600px;
    background-color: #235c5fe7;
    height: 355px;
}