* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #F18F01;
}

@font-face {
    font-family: 'BerunFont1';
    src: url('src\assets\Fonts\MARDE SAUVE.otf');
}

@font-face {
    font-family: 'BerunFont2';
    src: url('src\assets\Fonts\railway.regular.otf');
}

@font-face {
    font-family: 'BerunFont3';
    src: url('src\assets\Fonts\Raleway-Bold.ttf');
}

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 55px;
}
.container {
    margin: auto;
}

#background {
    background-image: url('src\assets\Pictures\background-slika.jpg');
    background-size: cover;
}

#foreground {
    background-color: #2e4057de;
    border: 3px solid #F18F01;
    border-radius: 1.5em;
}

section {
    width: 100%;
    height: 100%;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#check {
    align-items: left;
}

button {
    width: 100%;
    padding: 1.5%;
}

#rightSide {
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

h1 {
    font-family: BerunFont1;
    padding-top: 3%;
    padding-bottom: 3%;
}

input {
    padding: 1.5%;
}

mat-form-field {
    width: 100%;
    height: 50%;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.2em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.50);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
mat-label {
    color: #F18F01;
}