* {
    color: #F18F01;
    font-family: BerunFont2;
}

.main-container {
    position: relative;
    top: 75px;
    height: calc(100% - 145px);
    background: url('src\assets\Pictures\background-slika.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid red; */
}

.wrapper-container {
    width: 90%;
    height: 100%;
    /* border: 2px solid blue; */
    margin: auto;
    background-color: #2e4057bd;
    display: flex;
    border-left: 2px solid #F18F01;
    border-right: 2px solid #F18F01;
}

.messageLabelDiv {
    margin-top: 0.5vw;
    border-top: 1px solid #F18F01;
    width: 100%;
    height: 5%;
    /* border: 2px solid red; */
    border-bottom: 1px solid #F18F01;
}

.inboxLabel {
    display: flex;
    height: 100%;
    width: fit-content;
    margin: auto;
    /* border: 2px solid red; */
    position: relative;
}

.listUsers {
    /* border: 2px solid red; */
    height: 8vh;
    width: 100%;
}

.listUsers ol:first-child {
    border: none;
}

.listUsers ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 0.1em solid #F18F01;
}

.listUsers ol li {
    line-height: 2.5rem;
    text-align: left;
}

.listUsers:hover {
    background-color: #2e4057;
    cursor: pointer;
}

.inboxLabel h5,
svg {
    margin: auto 0;
    margin-left: 0.5vw;
}

.usersDiv {
    width: 20%;
    height: 100%;
    /* border: 2px solid lime; */
    border-right: 2px solid #F18F01;
    overflow-y: auto;
    display: block;
}

.userMessage {
    width: 100%;
    height: 5vw;
    /* border: 2px solid red; */
    border-top: 1px solid #F18F01;
    border-bottom: 1px solid #F18F01;
    margin: auto;
    margin-top: 0.5vw;
    background-color: #2e4057be;
}

.userMessage:hover {
    background-color: #2e4057;
}

.userNameDiv {
    width: 100%;
    height: 50%;
    /* border: 2px solid beige; */
    position: relative;
}

.userNameDiv h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userPreviewMessageDiv {
    width: 95%;
    max-height: 50%;
    /* border: 2px solid violet; */
    margin: auto;
}

.directMessageDiv {
    width: 80%;
    height: 100%;
    /* border: 2px solid lime; */
    background-color: #2e4057e8;
}

.statsDiv {
    height: 15%;
    /* border: 2px solid red; */
    display: flex;
    border-bottom: 1px solid #F18F01;
}

.myStatsDiv {
    width: 30%;
    height: 100%;
    /* border: 2px solid beige; */
    position: relative;
}

.myStatsDiv h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userWithWhoChatDiv {
    width: 70%;
    height: 100%;
    /* border: 2px solid fuchsia; */
    display: block;
    border-left: 1px solid #F18F01;
}

.chatInfo {
    width: 100%;
    height: 50%;
    /* border: 2px solid royalblue; */
    display: flex;
}

.userFriendDiv {
    width: 100%;
    height: 50%;
    /* border: 4px solid yellow; */
    position: relative;
    border-bottom: 1px solid #F18F01;
}

.friendUserID {
    height: 70%;
    color: #F18F01;
    background-color: #2e4057;
    border: 1px solid #F18F01;
    border-radius: 0.2em;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exchangedMessagesDiv {
    width: 50%;
    height: 100%;
    position: relative;
}

.exchangedMessagesDiv label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userFriendDiv h4 {
    width: fit-content;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myStatsLabel {
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    border: 2px solid red;
    position: relative;
}

.myStatsLabel h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats {
    height: 50%;
    width: 100%;
    /* border: 2px solid magenta; */
    display: flex;
}

#friends {
    width: 50%;
    height: 100%;
    margin-left: auto;
    position: relative;
}

#friends label,
#chats label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chats {
    width: 50%;
    height: 100%;
    margin-right: 0;
    position: relative;
}

.inbox {
    height: 85%;
    width: 100%;
    /* border: 2px solid magenta; */
    position: relative;
    overflow-y: auto;
    background-color: #2e4057cb;
}

.allMessages {
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    border: 2px solid lime;
    position: sticky;
    top: 0;
}

.textAreaDiv {
    width: 100%;
    height: 20%;
    /* border: 4px solid firebrick; */
    border-top: 1px solid #F18F01;
    position: absolute;
    bottom: 0;
    display: flex;
}

.textArea {
    width: 90%;
    height: 100%;
    position: relative;
    /* border: 2px solid blue; */
}

.centerDiv {
    width: 95%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textArea textarea {
    resize: none;
    background-color: #2e4057;
    color: #F18F01;
    border: 1px solid #F18F01;
}

.textArea textarea::placeholder {
    color: #F18F01;
}

.sendButtonDiv {
    width: 10%;
    height: 100%;
    /* border: 2px solid gold; */
    position: relative;
}

.buttonSend {
    width: 90%;
    height: fit-content;
    /* border: 2px solid blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: #F18F01;
    color: black;
    /* border: 2px solid red; */
    border: none;
}